<div class="container mt-5">
  <%= simple_form_for [software, license] do |f| %>
    <div class="form-inputs">
      <%= f.input :start_at, as: :string, input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :end_at, as: :string, input_html: { data: { controller: "datepicker" } } %>
    </div>
    <div class="form-actions text-center">
      <%= f.button :submit, "Add license", class: "btn btn-success mt-4 mb-2" %>
    </div>
  <% end %>
</div>
