<div class="container mt-5">

  <div class="row justify-content-center">
    <div class="col-4 bg-light border rounded p-5">
      <h1>Add your license</h1>
      <div class="">
        <%= render 'form', software: @software, license: @license %>
      </div>
    </div>
  </div>

</div>
