.medium-logo-rounded {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
};

.tag {
  background-color: rgba(28, 221, 135, 0.5);
  color: $dark;
  border-radius: 15px;
  width: fit-content;
  block-size: fit-content;
};
