// Specific CSS for your home-page
body {
  background-color: white;
};

h2,i {
  color: $dark;
  font-weight: 900;
}

.header {
  background-color: $light-gray;
}

.logo-cover {
  width: 50px;
  object-fit: cover;
  border-radius: 10px;
};

.app-card {
  background-color: $light-gray;
  width: 430px;
  position: relative;
  box-shadow: 3px 3px 1px rgba(150, 150, 150, .2);
  border-radius: 10px;
};

.tag-small {
  font-size: 10px;
}

.tag {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
