<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top bg-dark">
  <div class="col-md-4 d-flex align-items-center">
    <%= link_to root_path, class: "mb-3 me-2 ms-2 mb-md-0 text-body-secondary text-decoration-none lh-1" do %>
      <%= image_tag("logos/logo_stacky.png", alt: "Stacky", width: "50", class: "ms-3") %>
    <% end %>
    <span class="mb-3 mb-md-0 text-light">© 2025 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-4">
    <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
    <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-instagram"></i></a></li>
    <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-facebook"></i></a></li>
  </ul>
</footer>
