<div class="header text-center p-5">
  <h2 class="p-2">Fall in love with your stack</h2>
  <h5 class="p-2">Your perfect app match is waiting for you – let’s make it happen!</h5>
</div>

<div class="container">

  <div class="border-bottom">
    <div class="my-5">
      <h5 class="mb-3">Top 3 apps of the month</h5>
      <div class="row g-5">
        <% best_softwares = @softwares.where("average_rating != 0").order(average_rating: :desc).first(3) %>
        <% best_softwares.each do |software| %>
          <%= render 'shared/generic_soft_card', software: software %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="my-5">
    <h5 class="mb-3">Our app catalog</h5>
    <div class="row g-5">
      <% @softwares.each do |software| %>
        <%= render 'shared/generic_soft_card', software: software %>
      <% end %>
    </div>
  </div>
</div>
