<div class="container">
  <div class="row justify-content-between bg-white p-3">
    <div class="col-5 m-3">
      <h3 class="m-0">Find your crush</h3>
    </div>
  </div>

  <% TeamTag.all.each do |team_tag| %>
      <div class="mt-4 border-bottom">
        <h5 class=""><%= team_tag.name %></h5>
      </div>
      <div class="my-5">
        <div class="row g-5">
            <% @softwares.each do |software| %>
              <% if software.team_tags.include?(team_tag) %>
                <%= render 'shared/generic_soft_card', software: software %>
              <% end %>
            <% end %>
        </div>
      </div>
  <% end %>
</div>
