<div class="container">

   <div class= "text-center row m-3">
    <h1> My Stack </h1>
   </div>

  <div data-controller="past-licenses">
    <div class="d-flex d-wrap align-content-center">
      <div class="green-button-visible" data-past-licenses-target="activebutton">
        <h5 class="px-3 py-1 m-0" data-action="click->past-licenses#viewactive"> Active </h5>
      </div>

    <div class="black-button-disable text-center ms-5" data-past-licenses-target="pastbutton">
        <h5 class="px-3 py-1 m-0" data-action="click->past-licenses#viewpast"> Past </h5>
    </div>
  </div>

    <div data-past-licenses-target="activelicenses">
      <div class="row g-5 mt-3">
        <% @licenses_active.each do |license| %>
          <%= render 'softwares/software_card', license: license, software: license.software, past: false %>
        <% end %>
      </div>
    </div>

    <div class="d-none" data-past-licenses-target="pastlicenses">
      <div class="row g-5 mt-3">
        <% @licenses_past.each do |license| %>
          <%= render 'softwares/software_card', license: license, software: license.software, past: true %>
        <% end %>
        </div>
      </div>
    </div>
</div>

<%# hehehehe %>
