<div class="container">
  <h2 class="text-center mt-4"> My Stack</h2>

  <div>
    <div class="border border-dark p-2 text-center">
      <h5> Active Stack </h5>
    </div>

    <div class='p-2 me-2'>
      <%= render 'softwares/software_card', collection: @software_licenses, as: :software %>
    </div>
  </div>

  <div class="border border-dark p-2 text-center">
    <h5> Past Stack </h5>
  </div>

  <p> TODO </p>
</div>
