<% @my_softwares.each do |mysoft| %>
<div class="container mt-1">
  <div class="chart" data-controller="chart"
    data-chart-data="<%= mysoft.user %>"
    data-chart-labels="<%= mysoft.name %>">
  </div>
</div>
<% end %>
