<div class="container mt-1">
  <% @my_softwares.each do |mysoft| %>
  <div class="chart" data-controller="chart"
    data-chart-chartData-value="<% mysoft.user %>"
    data-chart-chartLabels-value ="<% mysoft %>">
  </div>
  <% end %>
</div>
