<div class="container mt-3">
  <div class="my-3">
    <div class="border-bottom m-4 pb-3">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="m-0">My softwares</h5>
        <%= link_to new_software_path, class: "btn btn-dark" do %>
          <i class="fa-solid fa-plus text-white me-2"></i>Add a new software
        <% end %>
      </div>
    </div>


<div data-controller="dashboard">
  <div class="d-flex d-wrap align-content-center">
    <div class="green-button-visible" data-dashboard-target="dashboardButton">
      <h5 class="px-3 py-1 m-0" data-action="click->dashboard#viewDashboard"> Dashboard </h5>
    </div>

    <div class="gray-button-disable text-center ms-5" data-dashboard-target="myAppsButton">
        <h5 class="px-3 py-1 m-0" data-action="click->dashboard#viewApps"> Apps posted </h5>
    </div>
  </div>


  <div data-dashboard-target="dashboard">
      <div class="row g-5 mt-3">
        <%= render 'dashboard' %>
      </div>
    </div>

  <div class="d-none" data-dashboard-target="myApps">
        <div class="row g-5 mt-3">
          <% @my_softwares.each do |software| %>
            <%= render 'my_software_card', software: software %>
          <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
